:root {
  --mainColor: rgb(0 58 64);
}

#login-bg {
  background-color: var(--mainColor);
}

#admin-bar {
  background-color: var(--mainColor);
}

#admin-container {
  background-color: var(--mainColor);
  height: 100vh;
}
